@font-face{
    font-family: "corsiva";
    src: url('Monotype-Corsiva-Regular.ttf');
}

@font-face{
    font-family: "lucon";
    src: url('lucon.ttf');
}

@font-face{
    font-family: "cour";
    src: url('cour.ttf');
}

@font-face{
    font-family: "helvetica";
    src: url('Helvetica.ttf');
}

@font-face{
    font-family: "helvetica-bold";
    src: url('Helvetica-Bold.ttf');
}

@font-face{
    font-family: "oblique";
    src: url('Helvetica-Oblique.ttf');
}

#everything2{
  position: fixed;
  left: 500px;
}

.pc {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  height: auto;
  display: block;
  z-index: 10;
}

.pc img {
  width: 100%;
  height: auto;
  display: block;
  transform: scale(3)
}

#typing-container {
  font-family: monospace;
  color: white;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  position: absolute;
  top: calc(30% + 160px); /* pushes it below the PC */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 320px;
}

#cursor {
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.scanlines {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;

  background: repeating-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.266) 0px,
    rgba(0, 0, 0, 0.274) 1px,
    transparent 1px,
    transparent 3px
  );

  mix-blend-mode: multiply;
  opacity: 0.4;
}



#enter-link{
    color: white;
}

#enter-link:hover{
    background-color: rgb(255, 255, 255);
    color: black !important;
    border-radius: 10%;
    padding: 5px;
}

body{
    background-size: 100%;
    background-color:#0a0a0a;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

#context_menu{
    position: absolute;
    z-index: 11111;
    background-image: url('');
	  background-size: 50%;
    border: 1px dotted ;
    color: 0;
    display: none;
    letter-spacing: 2px;
    width: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: url(key.png), auto;
    font-weight: 500;
    font-size: 20px;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.footer{
    z-index: 100;
    position: absolute;
    top: 610px;
    font-size: 14px;
    left: 210px;
    width: 1000px;
    font-family: 'helvetica';
}

